.dogList {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dogList>ul {
    padding: 0;
}

.dogList>h2 {
    background-color: lavender;
    padding: 30px;
    margin: 20px;
}