.newDogForm {
    display: flex;
    justify-content: center;
}
  
.newDogFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    row-gap: 20px;
}
  
.newDogFields label {
    font-weight: bolder;
    font-size: 1.2em;
}
  
.newDogSubmit {
    grid-column: span 2;
}